body{
  background-color: #ccedd2;
}

/*----- NAVBAR PART------------------------------------------------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  overflow: hidden;
  background-color:#effcef;
  border-radius: 1em;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

li {
  float: right;
}

.iconimg{
  width:3.5em;
  height: 3.5em;
  margin-left: 3em;
}

li a {
  display: block;
  color:#394a6d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
}

li a:hover:not(.active) {
  color:white;
  text-decoration: none;

}
/*---------THE GRID PART-----------------------------------------------------------------*/
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(320px,1fr)) ;
  margin-top: 3px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.box{
  margin: 2px;
  background-color: #effcef;
  border-radius: 1em;
  width: 1fr;
}
.a {
  grid-column: col / span 2;
}
.b{
  padding: 0;
}
/*
.graphflex{
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.flexitem{
  flex-basis: auto;
  margin: 0.2em;
}*/